# Rust
/target
/apps/web/target

# macOS
.DS_Store
*.xcodeproj
apps/mac/BuildData/
apps/mac/build/
apps/mac/build_log.txt
apps/mac/Rust/*.a

# Web / WASM
pkg/
apps/web/pkg/

# Other
.gemini/tmp/
*/lang-data/